<nav class="navbar navbar-expand-lg navbar-light bg-primary mb-1 ">

    <a class="navbar-brand text-white " href="/">Wild Series</a>

    <button class="navbar-toggler bg-light" type="button" data-toggle="collapse"
            data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active text-white " href="/">Accueil</a>
        </div>
    </div>
</nav>

<div class="collapse offset-8 col-4 bg-primary" id="navbarToggleExternalContent">
    <div class="burger-style" data-toggle="collapse">
        <a class="nav-item nav-link active text-white" href="/">Accueil</a>

    </div>
</div>
